*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: rgb(246, 248, 249);
    font-family: 'Montserrat', sans-serif;
}

.container{
    background-color: white;
    margin: 30px auto;
    width: 90%;
    border-radius: 5px;
    max-width: 700px;
}

.container__top{
    width: 100%;
    border-bottom: lightgray 1px solid;
    padding: 20px 40px 15px 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

button{
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.9em;
    border: 0;
    flex-grow: 1;
}

.add-task__input{
    flex-grow: 10000000;
    padding: 10px 0px;
}

.button--addtask{
    background-color: #61aceb;
    color: white;
    border: 1px solid #61aceb;
}

.add-section{
    background-color: white;
    color: lightgray;
    border: 1px solid lightgrey;
}

.container__main{
    padding: 30px 40px 15px 40px;
}

h2{
    margin-bottom: 20px;
}

.task{
    line-height: 20px;
    vertical-align: middle;
    margin-bottom: 20px;
}
.task__icon{
    border-radius: 100%;
    border: 1px solid white;
    width: 15px;
    height: 15px;
    display: inline-block;
    text-align: center;
    line-height: 15px;
    font-size: 8pt;
}
.task__icon--check{
    color: green;
    border-color: green;
}

.task__text{
    font-size: 17px;
}

.task__label{
    font-size: 12px;
    border-radius: 15px;
    display: inline-block;
    height: 30px;
    color: white;
    font-weight: bold;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(95, 170, 228);
}

@media screen and (max-width: 400px){
    .container{
        width: 100%;
        border-radius: 0;
        border: none;
    }
}